{% extends 'base.html'%}

{% block title %}
    Обо мне
{% endblock %}

{% block body %}
    <h1>Обо мне</h1>
     <h1>About my self</h1>
    <p>A highly motivated and hardworking individual, who is looking to secure a position of Junior Python Developer to use and further develop analytical skills and knowledge in a practical and fast-paced environment.
       <br>
        <br>Skills:
        <br>• Core Python
        <br>• Django
        <br>• GIT
        <br>• HTML
        <br>•CSS
        <br>•SQL
        <br>Eventual career goal is to become a fully-qualified and experienced developer with the longer-term aspiration of moving into project management.
       <br>
        <br>Contacts to contact me:
        <br>Email: stik9935@gmail.com
        <br>Telegram: @Maksim_Lukashyk
        <br>Phone number: +375(29)-865-94-84</p>
{% endblock %}
